<span class="usa-form-hint" id="{{ widget.hint_id }}">For example: 04 28 2016</span>

<div class="usa-date-of-birth">
  <div class="usa-form-group usa-form-group-month">
    <label for="{{ widget.month.attrs.id }}">Month</label>
    {% include widget.month.template_name with widget=widget.month %}
  </div>
  <div class="usa-form-group usa-form-group-day">
    <label for="{{ widget.day.attrs.id }}">Day</label>
    {% include widget.day.template_name with widget=widget.day %}
  </div>
  <div class="usa-form-group usa-form-group-year">
    <label for="{{ widget.year.attrs.id }}">Year</label>
    {% include widget.year.template_name with widget=widget.year %}
  </div>
</div>
